@model Category

<h2>Добавление категории</h2>
<form asp-action="CreateCategory" asp-controller="Admin">
    <p>
        <label asp-for="Title">Название категории</label><br />
        <input type="text" asp-for="Title" />
    </p>
    <p>
        <label asp-for="Description">Описание категории</label><br />
        <input type="text" asp-for="Description" />
    </p>

    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>