@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в блог foodrink!</h1>
    
</div>
<header class="masthead" style="background-image: url('~/../../assets/img/aboutt-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-9">
                <div class="page-heading">
                    <h1>Информация о блоге</h1>
                   
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-9 px-lg-7">
        <div class="row gx-6 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg18 col-xl-7">  
                <p align="justify">
                    Привет! Я Hoodwink! Я фотограф. И,конечно же, большой любитель вкусно поесть.  </p>
                <p align="center"> <b> НЕМНОГО ОБО МНЕ</b></p>
                <p align="justify">
                    Я занимаюсь фотографией с тех пор, как мне исполнилось 12 лет. Я переехал в Калифорнию в 2012 году, чтобы поступить в колледж дизайна Art Center.
                За эти годы я сделал тысячи снимков еды.
                    Я также провел несколько выступлений и семинаров в колледжах, фотоконференциях, конференциях по ведению кулинарных блогов, онлайн-саммитах, вебинарах и кулинарных конференциях по всей территории США.
                </p>
                
        </div>
    </div>
</main>